/*Styles structure:
  1.General styles
  2.Grid styles
  3.Components( mobile menu, video-plaer and other)
  4.Site sections styles
*/



/*===========================
  1.General
=============================*/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  position: relative;
  left: 0;
  line-height: 1.5em;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.primary-font {
  font-family: 'Crimson Text', 'Times New Roman', serif;
  color: #666;
}
.secondary-font {
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: #333;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: #333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*===========================
  2.Grid styles
=============================*/
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 970px;
}

[class^="l-"] {
  display: flex;
  flex-wrap: wrap;
}
[class^="l-"] > div {
  padding: 0 15px;
}

.l-center > div {
  width: 100%;
}
/*--- Header grid ---*/
.l-header-top-line {
  justify-content: space-between;
  align-items: baseline;
}
.l-header-top-line > div:nth-child(1) {
  width: 25%;
}
  @media screen and (max-width: 599px) {
    .l-header-top-line {
      flex-wrap: nowrap;
    }
    .l-header-top-line > div:nth-child(1) {
      order: 2;
      width: 40%;
    }
  }
.l-header-top-line > div:nth-child(2) {
  width: 75%;
}

.l-header-main-heading {
  justify-content: center;
}

/*--- Services---*/
.l-services-list > div {
  width: 33.3333%;
}
  @media screen and (max-width: 599px) {
    .l-services-list {
      justify-content: center;
    }
    .l-services-list > div {
      width: 80%;
    }
  }

  /*---Portfolio---*/
.l-portfolio-list {
  justify-content: center;
}
.l-portfolio-list > div {
  width: 33.333%;
}
  @media screen and (max-width: 599px) {
    .l-portfolio-list > div {
      width: 100%;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .l-portfolio-list > div {
      width: 40%;
    }
  }

/*--- About Us ---*/
.l-team-members-list {
  justify-content: space-between;
}
  @media screen and (max-width: 599px) {
    .l-team-members-list {
      flex-direction: column;
      align-items: center;
    }
  }
.l-team-members-list > div {
  width: 33.333%;
}
  @media screen and (max-width: 599px) {
    .l-team-members-list > div {
      width: 100%;
    }
  }
/*--- Contact ---*/
@media screen and (max-width: 599px) {
  .l-feedback-form {
    flex-direction: column;
  }
}
.l-feedback-form > div:not(:last-child) {
  width: 50%;
}
   @media screen and (max-width: 599px) {
    .l-feedback-form > div:not(:last-child) {
      width: 100%;
    }
  }
.l-feedback-form > div {
  width: 100%;
}
/*--- Footer ---*/
.l-footer {
  align-items: center;
}
.l-footer > div {
  width: 33.333%;
}
  @media screen and (max-width: 599px) {
    .l-footer > div {
      width: 100%;
    }
    .l-footer > div:nth-child(1) {
      order: 1;
    }
   } 
/*===========================
  3.Components
=============================*/
/*--- Mobile menu ---*/
.menu-toggle {
  display: none;
}

@media screen and (max-width: 599px) {
  .menu-toggle {
    position: fixed;
    left: 2.2em;
    top: 2.2em;
    z-index: 3;
    display: block;
    width: 56px;
    height: 56px;
    transition: left .3s cubic-bezier(.59,.54,.47,.96);
  }
  .menu-toggle.offset {
    left: 68vw;
    transition: left .3s cubic-bezier(.59,.54,.47,.96);
  }

  .toggle-icon {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 10px;
    background-color: #fed136;
  }
  .toggle-icon::before,
  .toggle-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: inherit;
    transition: transform .3s cubic-bezier(.59,.54,.47,.96) .3s;
  }
  .toggle-icon::before {
    top: -13px;
  }
  .toggle-icon::after {
    top: 13px;
  }
  .menu-toggle.offset .toggle-icon {
    background-color: #c7a323;
  }
  .menu-toggle.offset .toggle-icon::before {
    transform: translateX(-0.8em);
  }
  .menu-toggle.offset .toggle-icon::after {
    transform: translateX(0.8em);
  }

  .main-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100vh;
    background-color: #222;
    transition: transform .3s cubic-bezier(.59,.54,.47,.96);
    overflow-y: scroll;
  }
  .main-menu.js-menu_hide,
  .main-menu.js-menu_hide .menu-item {
    transform: translateX(-100%);
  }
  .menu-list {
    font-size: 2em;
  }
  .menu-item {
    width: 100%;
    transition: transform .3s cubic-bezier(.59,.54,.47,.96) .2s;
  }
  .menu-item:nth-child(1) {
    transition-delay: .1s;
  }
  .menu-item:nth-child(2) {
    transition-delay: .2s;
  }
  .menu-item:nth-child(3) {
    transition-delay: .3s;
  }
  .menu-item:nth-child(4) {
    transition-delay: .4s;
  }
  .menu-item:nth-child(5) {
    transition-delay: .5s;
  }
  .menu-link:not(:nth-child(5)) {
    margin-bottom: 1.2em;
  }
  .menu-link {
    padding: 1.2em;
    /* background-image: -webkit-linear-gradient(left, rgba(195, 163, 35, 0.2), transparent 100%); */
    /* background-image: -o-linear-gradient(left, rgba(195, 163, 35, 0.2), transparent 100%); */
    background-image: linear-gradient(to right, rgba(195, 163, 35, 0.2), transparent 100%);
  }
}
/*===========================
  4.Header styles
=============================*/
.header {
  position: relative;
  padding-top: 0.9em;
  padding-bottom: 11em;
  background-image: url('../images/header_bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #333;
  color: #f9f9f9;
}
  @media screen and (max-width: 599px) {
    .header {
      font-size: 10px;
      background-image: url('../images/header_bg-mobile.jpg');
    }
  }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .header {
      padding-bottom: 6em;
    }
  }

.logo {
  display: inline-block;
  font: italic 40px/1.5em 'Great Vibes';
  color: #fed136;
  transform: scaleX(0.9) scaleY(1.1);
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 480px;
}
  @media screen and (min-width: 600px) {
    .menu-list {
      margin-left: auto;
    }
  }
.menu-item {
  flex-grow: 1;
}
.menu-link {
  z-index: 2;
  display: block;
  font-size: .875em; /*14*/
  line-height: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  color: #fafafa;
}
  @media screen and (min-width: 600px) {
    .menu-link {
      position: relative;
      padding: .5em 0;
      text-align: center;
      cursor: pointer;
    }
  }
  @media screen and (min-width: 899px) {
    .menu-link::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      bottom: 0;
      display: block;
      height: 2px;
      width: 0;
      background-image: -webkit-linear-gradient(bottom, #c7a323, #ffd700);
      background-image: -o-linear-gradient(bottom, #c7a323, #ffd700);
      background-image: linear-gradient(to top, #c7a323, #ffd700);
      transition: width .2s cubic-bezier(.59,.54,.47,.96) 0s,
                  left .2s cubic-bezier(.59,.54,.47,.96) 0s,
                  height .2s cubic-bezier(.59,.54,.47,.96) .2s;
    }
    .menu-link:hover::after {
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

.main-heading-block {
  padding-top: 10.4em;
  color: #eaeaea;
  text-align: center;
}
  @media screen and (max-width: 599px) {
    .main-heading-block {
      padding-top: 3em;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .main-heading-block {
      padding-top: 6em;
      font-size: 12px;
    }
  }
.main-heading {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 500;
}
.sub-main-heading {
  margin-top: 0;
  margin-bottom: 0.77em;
  font-size: 4.69em;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}

 .link-info {
  display: inline-block;
  padding: .8em 1.3em;
  border-radius: .2em;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 500;
  background-color: #c7a323;
  color: inherit;
  text-transform: uppercase; 
} 
   @keyframes bounce {
    0% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(-5px); }
    
   }

/*===========================
  5.Services section
=============================*/
.services-section {
  text-align: center;
  padding-top: 4.4em;
  padding-bottom: 5.5em;
}
  @media screen and (max-width: 599px) {
    .services-section {
      font-size: 6px;
    }
  }
.section-heading-block {
  text-align: center;
}
.section-title {
  margin-bottom: 0;
  font-size: 2.5rem; /*40*/
  line-height: 1.2em;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}
.section-description {
  margin-top: 0.4em;
  font-size: 1rem;
}

.services-item {
  padding: 3.5em 0.8em 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.services-icon-wrap {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 3px solid #fed136;
  border-radius: 50%;
} 
.services-item .icon {
  width: 40px;
  height: 40px;
  fill: #fed136;
}
.item-3 .icon {
  width: 30px;
}
.services-item-title {
  font-size: 1.14rem;
  margin-bottom: 0.6em;
  line-height: 1.2em;
}
.services-txt {
  font-size: 1.14rem; /*18*/
  margin-top: 0;
  width: 100%;
}

/*===========================
  6.Portfolio
=============================*/

.portfolio-section {
  padding-top: 4.3em;
  padding-bottom: 4.4em;
  background-color: #f7f7f7;
}
  @media screen and (max-width: 599px) {
    .portfolio-section {
      font-size: 6px;
    }
  }
.portfolio-section .section-heading-block {
  margin-bottom: 4.4em;
}

.works-item {
  position: relative;
  margin: 0 auto 3em auto;
  padding-bottom: 0.4em;
  max-width: 290px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}
.works-item .item-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #fed136, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, .9) 80%, #fed136);
  transition: transform .3s cubic-bezier(.59,.54,.47,.96);
}
.item-description {
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 100;
  font-size: 1.3rem;
  line-height: 1.5em;
  font-weight: 300;
  color: #fed136;
  opacity: 0;
  overflow: hidden;
  transform: translateY(0px);
  transition: opacity .3s cubic-bezier(.59,.54,.47,.96),
              transform .2s cubic-bezier(.59,.54,.47,.96);
}
.item-description  {
  transition-delay: -2s;
}
.js-show-description .item-description {
  opacity: 1;
  transform: translateY(150px);
  transition-delay: .3s;
}
.l-to-r {
  transform: translate(-100%);
}
.r-to-l {
  transform: translate(100%);
}
.t-to-b {
  transform: translate(0, -100%);
}
.b-to-t {
  transform: translate(0, 100%);
}

.works-item:hover .item-overlay {
  transform: translate(0);
}

.works-img {
  width: 100%;
  margin-bottom: 0.5em;
}
.works-name {
  margin-bottom: 0;
  font-size: 1.14rem;
  line-height: 1.2em;
}
.works-category {
  margin-top: 0;
  font-size: 0.9rem;
  line-height: 1.5em;
}

/*===========================
  7.About Us
=============================*/
.about-us-section {
  padding-top: 4.3em;
  padding-bottom: 7.5em;
}
  @media screen and (max-width: 599px) {
    .about-us-section {
      font-size: 6px;
    }
  }
.about-us-section .section-heading-block {
  margin-bottom: 2.4em
}
.about-us-event-list {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-flow: row wrap;
}

.event-item {
  padding: 2.2em 0;
  display: flex;
  transition: all .5s cubic-bezier(.59,.54,.47,.96);
}

  @media screen and (max-width: 799px) {
    .event-item {
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (min-width: 800px) {
    .event-item {
      justify-content: flex-end;
      background-image: url(../images/event-bg.jpg);
      background-repeat: no-repeat;
      background-size: 2px 100%;
      background-position: center;
    }
    .event-item:nth-child(2n+1) {
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-right: auto;
    }
    .event-item:first-child {
      background-size: 2px 50%;
      background-position: center bottom;
    }
    .event-item:last-child {
      background-size: 2px 50%;
      background-position: center top;
    }
    .event-item:last-of-type {
      padding-bottom: 5em;
    }
  }
.hide-item {
  padding: 0;
  height: 0;
  overflow: hidden;
}  
.event-img-wrap {
  width: 20%;
}
  @media screen and (max-width: 799px) {
    .event-img-wrap {
      margin-bottom: 2.5em;
      width: 40%;
    }
  }
.event-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  border: 6px solid #dde0dc;
  border-radius: 50%;
}

.event-info {
  padding-top: .3em;
}
  @media screen and (max-width: 799px) {
    .event-info {
      width: 100%;
    }
  }
  @media screen and (min-width: 800px) {
    .event-info {
      width: 40%;
      padding-left: 2.5em;
    }
    .event-item:nth-child(2n+1) .event-info {
      padding-right: 2.5em;
      text-align: right;
    }
  
  }

.event-date {
  margin-bottom: 0.2em;
  display: inline-block;
  font-size: 1.14rem;
  line-height: 1.2em;
  text-transform: uppercase;
}
.event-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.14rem;
  line-height: 1.2em;
}
.event-txt {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5em;
}

.event-show-more {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #dde0dc;
  border-radius: 50%;
  font-size: 1.14rem;
  line-height: 1.5em;
  font-weight: 500;
  color: #fafafa;
  text-transform: uppercase;
  text-align: center;
  background-color: #fed136;
  text-shadow: 0 1px #c78304;
  cursor: pointer;
}
  @media screen and (max-width: 599px) {
    .event-show-more {
      font-size: 1rem;
    }
  }
/*===========================
  8.Our team
=============================*/
.our-team-section {
  padding-top: 4.2em;
  padding-bottom: 6.9em;
  background-color: #f9f9f9;
}
  @media screen and (max-width: 599px) {
    .our-team-section {
      font-size: 6px;
    }
  }
.our-team-section .section-heading-block {
  margin-bottom: 5em;
}
.team-members-list {
  margin-bottom: 2.9em;
}
  @media screen and (max-width: 599px) {
    .team-members-list {
      flex-direction: column;
      align-items: center
    }
  }
.member {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 220px;
}
  @media screen and (max-width: 599px) {
    .member {
      margin-bottom: 5em;
    }
  }
.member-img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.member-name {
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.5em;
  font-weight: 600;
}
.member-profession {
  margin: 0;
  font-size: 1rem;
}

.socials-list {
  display: flex;
  justify-content: center;
}
.social-link {
  margin: 0.3em;
  padding: 0.5em;
  display: inline-flex;
  border: 3px solid #333;
  border-radius: 50%;
  transition: all .3s cubic-bezier(.59,.54,.47,.96);
}
  @media screen and (min-width: 899px) {
    .member .social-link:hover {
      transform: scale(1.2);
      border-color: #fed136;
    }
    .member .social-link:hover .icon {
      fill: #fed136;
    }
  }  
.social-link .icon {
  width: 1.3rem;
  height: 1.3rem;
}

.our-team-txt {
  margin: 0 auto;
  max-width: 495px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5em;
}

/*===========================
  9.Partners
=============================*/
.partners-logos {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  display: flex;
  justify-content: center;
}
  @media screen and (max-width: 799px) {
    .partners-logos {
      display: none;
    }
  }
.partner-logo {
  width: 195px;
  height: 3em;
  background-image: url(../images/partners-logo.jpg);
  background-repeat: no-repeat;
}
.partner-logo:nth-child(2) {
  background-position: -195px;
}
.partner-logo:nth-child(3) {
  background-position: -390px;
}
.partner-logo:nth-child(4) {
  background-position:  -582px;
}

/*===========================
  10. Contact 
=============================*/
.feedback-section {
  padding-bottom: 7.2em;
  padding-top: 3.7em;
  background-color: #333;
  background-image: url(../images/fedback_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
  @media screen and (max-width: 599px) {
    .feedback-section {
      font-size: 6px;
    }
  }
.feedback-section .section-heading-block {
  margin-bottom: 3.5em;
  color: #fafafa;
}
.feedback-section .section-title {
  color: inherit;
}
.feedback-section .section-description {
  color: #d0d0d0;
}

.feedback-form * {
  border-radius: 5px;
  border: none;
}
.feedback-form *:focus {
  outline: none;
  box-shadow: 0 0 3px 3px silver;
}
.feedback-form input,
.feedback-form textarea {
  padding: 1em;
  width: 100%;
  font-size: 1rem;
  line-height: 1em;
  color: #777;
}
  @media screen and (max-width: 599px) {
    .feedback-form input,
    .feedback-form textarea {
      margin-bottom: 1.9em;
    }
  }
.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder { color: #bbb; font-weight: 500; }
.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder { color: #bbb; font-weight: 500; }
.feedback-form input::placeholder,
.feedback-form textarea::placeholder { color: #bbb; font-weight: 500; }

  @media screen and (min-width: 600px) {
    .feedback-form input:not(:last-child) {
      margin-bottom: 1.9em;
    }
  }
.feedback-form textarea {
  width: 100%;
  min-height: 160px;
  height: 100%;
}
  
.send-btn {
  margin-left: auto;
  margin-right: auto;
  padding: .9em 1.2em;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.2em;
  font-weight: 500;
  color: #fafafa;
  text-transform: uppercase;
  background-color: #c7a323;
  cursor: pointer;
}
  @media screen and (min-width: 600px) {
    .send-btn {
      margin-top: 1.3em;
    }
  }

/*===========================
  11.Footer
=============================*/
.footer {
  padding-top: 1.06em;
  padding-bottom: 1.06em;
}

.copy {
  text-align: center;
}
.footer-link {
  padding-left: 1em;
  display: inline-block;
  transition: .3s cubic-bezier(.59,.54,.47,.96);
}
  @media screen and (min-width: 899px) {
    .footer-link:hover {
      transform: scale(1.05);
    }
  }
.footer-socials-list .social-link {
  border: none;
  background-color: #333;
  transition: all .3s cubic-bezier(.59,.54,.47,.96);
}
.footer-socials-list .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
  transition: inherit;
}
  @media screen and (min-width: 899px) {
    .footer-socials-list .social-link:hover {
      transform: scale(1.2);
    }
    .footer-socials-list .social-link:hover .icon {
      fill: #fed136;
    }
  }

